# This project ships with a pre-configured Entra app that supports personal Microsoft accounts.
# If you care about privacy, replace OUTLOOK_CLIENT_ID with your own app registration.
# See the README for details.
OUTLOOK_EMAIL=your_account@outlook.com
OUTLOOK_CLIENT_ID=0d33bf72-5e7c-4c88-861c-0ec795750c42
OUTLOOK_AUTHORITY=https://login.microsoftonline.com/consumers
OUTLOOK_GRAPH_SCOPE=Mail.Read Mail.ReadWrite Mail.Send Calendars.ReadWrite offline_access
OUTLOOK_GRAPH_BASE_URL=https://graph.microsoft.com/v1.0
OUTLOOK_DEFAULT_FOLDERS=INBOX,Archive
OUTLOOK_TOKEN_CACHE_PATH=data/mail/oauth_token_cache.json
OUTLOOK_DATA_DIR=data/mail
